<div class="container">
  {{#if model.workers}}
  <h4>Rigleriniz</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Rig Adı</th>
          <th>Hashgücü (kısa ortalama)</th>
          <th>Hashgücü (uzun ortalama)</th>
          <th>Son Pay</th>
        </tr>
      </thead>
      <tbody>
        {{#each-in model.workers as |k v|}}
          <tr class="{{if v.offline "warning" "success"}}">
            <td>{{k}}</td>
            <td>{{format-hashrate v.hr}}</td>
            <td>{{format-hashrate v.hr2}}</td>
            <td>{{format-relative (seconds-to-ms v.lastBeat)}}</td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>
  </div>
  {{else}}
    <h3>Bağlı Rig Yok</h3>
  {{/if}}
  <div class="alert alert-info" role="alert">
    <span class="sr-only">Not:</span>
    Paylaşım gönderdikçe ortalama hash değeriniz gönderdiğiniz pay zorluğuna göre gerçek değerine ulaşacaktır.<br/>
    Sekmelerden birincisi kısa ortalama 30 dakikayı ikincisi uzun ortalama ise 3 saati ifade eder.<br/>
    Yaklaşık 15 dakika paylaşım göndermeyen rigleriniz işaretlenir ve bu şekilde paylaşım göndermeyen yada herhangi
    bir hata ile karşılaşan riginizi kontrol edebilirsiniz.
  </div>
  <div class="alert alert-info" role="alert">
    <strong>JSON API Kısayolunuz:</strong> <a href="/api/accounts/{{model.login}}">/api/accounts/{{model.login}}</a>
  </div>
</div>
