<div class="jumbotron-brand">
  <div class="container">
    <p class="lead">Toplam Hashgücü: {{format-hashrate model.hashrate}}.</p>
    <strong>Toplam Madenci:</strong> <span class="label label-info">{{model.minersTotal}}</span>
  </div>
</div>
<div class="container">
  {{#if model.miners}}
  <h4>Madenciler</h4>
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>ETC Cüzdan</th>
          <th>Hashgücü</th>
          <th>Son Görülme</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.miners as |m|}}
        <tr class="{{if m.offline "warning"}}">
          <td>{{#link-to 'account' m.login class='hash'}}{{m.login}}{{/link-to}}</td>
          <td>{{format-hashrate m.hr}}</td>
          <td>{{format-date-locale m.lastBeat}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
  <h3>Henüz Bağlı Madenci Yok</h3>
  {{/if}}
</div>
